Web/Service References/UasServiceRef/Authentication4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_UAS.Business.ServiceImplementation.CAADAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_UAS.Business.ServiceImplementation.CAADAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientMoveParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="client" nillable="true" type="tns:ClientMoveParameters.Client" />
      <xs:element minOccurs="0" name="newEnrollmentSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="newGroup" nillable="true" type="tns:ClientMoveParameters.Group" />
      <xs:element minOccurs="0" name="oldEnrollmentSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:ClientMoveParameters.User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMoveParameters" nillable="true" type="tns:ClientMoveParameters" />
  <xs:complexType name="ClientMoveParameters.Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMoveParameters.Client" nillable="true" type="tns:ClientMoveParameters.Client" />
  <xs:complexType name="ClientMoveParameters.Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="groupId" type="xs:int" />
      <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMoveParameters.Group" nillable="true" type="tns:ClientMoveParameters.Group" />
  <xs:complexType name="ClientMoveParameters.User">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationId" type="xs:int" />
      <xs:element minOccurs="0" name="enterpriseId" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMoveParameters.User" nillable="true" type="tns:ClientMoveParameters.User" />
</xs:schema>