Web/Service References/UasServiceRef/Authentication5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_UAS.Business.ServiceImplementation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_UAS.Business.ServiceImplementation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserContextLightweight">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnterpriseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseId" type="xs:int" />
      <xs:element minOccurs="0" name="EnterpriseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroupLightweight" />
      <xs:element minOccurs="0" name="IsoLanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserContextLightweight" nillable="true" type="tns:UserContextLightweight" />
  <xs:complexType name="ArrayOfGroupLightweight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupLightweight" nillable="true" type="tns:GroupLightweight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupLightweight" nillable="true" type="tns:ArrayOfGroupLightweight" />
  <xs:complexType name="GroupLightweight">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionGroups" nillable="true" type="tns:ArrayOfPermissionGroupLightweight" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecuritySet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupLightweight" nillable="true" type="tns:GroupLightweight" />
  <xs:complexType name="ArrayOfPermissionGroupLightweight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionGroupLightweight" nillable="true" type="tns:PermissionGroupLightweight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionGroupLightweight" nillable="true" type="tns:ArrayOfPermissionGroupLightweight" />
  <xs:complexType name="PermissionGroupLightweight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Permissions" nillable="true" type="tns:ArrayOfPermissionLightweight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionGroupLightweight" nillable="true" type="tns:PermissionGroupLightweight" />
  <xs:complexType name="ArrayOfPermissionLightweight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionLightweight" nillable="true" type="tns:PermissionLightweight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionLightweight" nillable="true" type="tns:ArrayOfPermissionLightweight" />
  <xs:complexType name="PermissionLightweight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionLightweight" nillable="true" type="tns:PermissionLightweight" />
</xs:schema>